<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Intro jasper report</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
    
  </head>

  <body>

    <div class="container">
		
		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
			
			<div class="row" style="padding:0px 20px; border-bottom: 1px solid #003F5F;margin-bottom: 20px;background-color:#efefef;">
				<div class="pull-left">
					<img src="./img/logo.png" />
				</div>
				<div class="pull-left">
					<h1>Países</h1>
				</div>	
				<div class="pull-right" style="padding-top:20px;">
					<a class="btn btn-danger" th:each="report : ${reports}"  th:href="@{export/{r}(r=${report})}" th:text="${report.ext}" >...</a>
				</div>
			    
			</div>
			<div class="row" style="padding:0px 20px;">
				<table id="myTable" class="table table-hover">
					<thead>
						<tr>
							<th>id</th><th>código</th><th>nombre</th>
						</tr>
					</thead>
					<tbody>
						 <th:block th:each="country : ${countries}">
						<tr>
							 <td th:text="${country.id}">...</td>
							 <td th:text="${country.countryCode}">...</td>
							 <td th:text="${country.countryName}">...</td>
						</tr>
						</th:block>
					</tbody>
				</table>
			</div>
    	</div>
	    
	   </div> 


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    
    <script type="text/javascript">
    	
	    $(document).ready( function () {
	    	$('#myTable').dataTable( {
	    		language: {
	    	        url: 'https://cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'
	    	    }
	        } );
	    } );
    
    
    </script>
    
  </body>
</html>
